<div>
    <%= image_tag(@artist.photo_url) %>
    <h1><%= @artist.name %>:</h1>
</div>

<div id="song-list" class="list">
    <% @songs.each do |song| %>
        <div id=<%= "song-#{song.id}" %> class="list-item">
            <%= song.name %>
            <button type="button" <%= "onClick=deleteSong(#{song.id})" %> >Delete</button>
        </div>
    <% end %>
</div>

<div>
    <button type="button" onClick="deleteAll()">Delete all</button>
</div>

<%= form_for Song.new do |f| %>
    <%= f.text_field :name, placeholder: "Song name" %>
    <%= f.hidden_field :artist_id, value: @artist.id %>
<% end %>

